
.bg-header{
    /* height: 1280px;
    width: 1920px;
     */
}

.bg-header .orel:after{
    position: relative;
    background: linear-gradient(0deg, #fbe389 0%, #f48b82 100%);
}



.bg-header nav{
    float: right;    
}

.bg-header nav>ul>li{
    float: left;
}

.bg-header a{
    font-size: 15px;
    font-family: LatoR;
    color: #f5eeee;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: 75px;
    text-align: center;
    line-height: 25px;

}

.bg-header .active{
    color: #c8c10d;
    text-decoration: underline;
}

.bg-header .menu {
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
    text-align: center;
}


.bg-header .logo{
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    position: absolute;
    display: inline-block;
}

.bg-header .Text1{
    font-size: 72px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
    position: absolute;
    top: 350px;
    left: 650px;
}

.bg-header .Text2{
    font-size: 120px;
    line-height: 140px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    position: absolute;
    top: 500px;
    left: 550px;
}
.bg-header hr{
    color: #ffffff;
    width: 57px;
    position: absolute;
    top: 810px;
    left: 970px;

}

.bg-header button{
    position: absolute;
    width: 160px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    border: 3px solid #ffffff;
    color: #ffffff;
    top: 870px;
    left: 920px;
}

.bg-header .footer{
    position: absolute;
    color: #ffffff;
    bottom: 50px;
    left: 250px;

}
.bg-header .footer a{
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-family: LatoR;
    cursor: pointer;
}

.bg-header .footer li{
    display: inline-block;
    width: 23%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .bg-header .footer hr{
    color: #ffffff;
    width: 282px;
    position: absolute;
    bottom: 50px;
} */

.bg-header .footer span{
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    bottom: 20px;
}