.blok_5{
    padding-top: 40px;
    height: 837px;
    
}

.blok_5 .img2{
    position: relative;
}

.blok_5 .img5{
    opacity: 0.3;
}


.blok_5 h2{
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
    padding: 20px;
}

.blok_5 h3{
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    padding-bottom: 30px;
}

.blok_5 .hr1{
    width: 60px;
    height: 3px;
    background-color: #f38181;
    color: #f38181;
}

.blok_5 .text_4{
    position: absolute;
    left: 700px ;
    top: 80px;
    opacity: 1;
}
.blok_5 .img3{
    height: 450px;
}

.blok_5 .content1{
    position: absolute;
    bottom: 4px;
    display: flex;
    justify-content: center;
    left: 650px;
}

.blok_5 .img4{
    height: 350px;
}

.blok_5 .content2{
    position: absolute;
    bottom: -50px;
    display: flex;
    justify-content: center;
    left: 950px;
}